.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 98%;
    background-color: #858383;
    display: inline-block;
    border-radius: 15px;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

.main-menu li a:hover {
    background-color: #ffffff;
    color: #0e0e0e;
    transition: 0.3s;
    border-radius: 12px;
}
.commands-menu ul {
    list-style-type: none;
    padding: 10px;
    height: 85px;
}
.commands-menu li a {
    display: block;
    color: #0e0e0e;
    padding: 8px 25px;
    text-decoration: none;
}

.commands-menu li a:hover {
    background-color: #858383;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 12px;
}
h1 {
    text-align: center;
}
.team-menu ul {
    list-style-type: none;
    padding: 10px;
    height: 85px;
}
.team-menu li a {
    display: block;
    color: #000000;
    padding: 8px 25px;
    text-decoration: none;
}

.team-menu li a:hover {
    background-color: #858383;
    color: #ffffff;
    transition: 0.3s;
    border-radius: 12px;
}
.login-form, .register-form {
    margin: 5vh auto;
    width: 50%;
}
.form-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.basket li {
    margin: 1vh;
}
.btn-danger {
    margin: 1vh;
}
p {
    margin: 10px 25px;
}
.btn-success {
    margin-left: 25px;
}
